apiVersion: apps/v1
kind: Deployment
metadata:
  name: event-service-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: event-service
  template:
    metadata:
      labels:
        app: event-service
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:16-alpine
          command:
            - sh
            - -c
            - |
              until pg_isready -h postgres-svc -p 5432 -U $POSTGRES_USER; do
                echo "Waiting for Postgres to be ready..."
                sleep 2
              done
              echo "Postgres is ready!"
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
      containers:
        - name: event-service
          image: connext-event-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8084
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
          env:
            - name: EVENT_ADDR
              value: ":8084"