apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:latest
          command:
            - sh
            - -c
            - |
              until pg_isready -h postgres-svc -p 5432 -U $POSTGRES_USER; do
                echo "Waiting for Postgres to be ready..."
                sleep 2
              done
              echo "Postgres is ready!"
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
        - name: setup-user-service
          image: connext-user-service:latest
          imagePullPolicy: IfNotPresent
          command: ["/server", "setup"]
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
      containers:
        - name: user-service-container
          image: connext-user-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
          env:
            - name: USER_ADDR
              value: ":8081"
